@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import 'variables';

.App {
   // max-width: 500px;
   margin: 0 auto;
   padding: 0 5rem;
   color: #5a5a5a;
}

h1 {
   font-family: 'Dancing Script', cursive;
   font-weight: 700;
   font-size: 4rem;
   text-align: center;
   padding-top: 20px;
   margin-bottom: 50px;
   color: $color-blue;

   span {
      position: relative;

      svg {
         width: 2.5rem !important;
         height: 2.5rem !important;
         color: inherit;
      }

      &::after {
         content: '';
         position: absolute;
         width: 3rem;
         height: 3rem;
         border-radius: 100%;
         border: 3px solid $color-blue;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

h2 {
   margin-bottom: 20px;
}

.add-contacts {
   max-width: 500px;
   margin: 0 auto 60px;

   .form-wrap {
      display: flex;
      flex-direction: column;
      max-width: inherit;
      margin: 0 auto;

      .input {
         margin-bottom: 10px;
         padding-left: 10px;
         background: transparent;
         border-radius: 10px;
         box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
         width: 100%;

         /* input не нажат */
         .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
            transform: translate(10px, 15px) scale(1);
         }

         /* input нажат */
         .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
            transform: translate(10px, 5px) scale(0.75);
         }

         .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
         .css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
         .css-v4u5dn-MuiInputBase-root-MuiInput-root:before,
         .css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before,
         &:hover .css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before,
         &:hover .css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
         &:hover .css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
            border-bottom: none;
         }
      }

      .form {
         position: relative;

         .icons {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);

            svg {
               width: 1.5rem;
               height: 1.5rem;
            }
         }
      }

      button {
         margin: 30px 0 10px;
         padding: 10px 15px;
         background: transparent;
         border-radius: 10px;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;

         &:hover {
            background-color: inherit;
         }

         &:active {
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
         }
      }
   }
}
